# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.lapce/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
firmware/
.d/

# Vale
!.vale.ini
vale-styles
styles/

# Doxygen
html/